body{
  text-align: center;
  font-family: Arial, "Times New Roman", sans-serif;
  margin-top: 14.0px;
  margin-bottom: auto; 
  background-image: url(../media/ferrarif50.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

label{
  font-size: 20.0px;
}

form{
  font-family: Arial, "Times New Roman", sans-serif;
  margin: auto;
  width: 25%;
  opacity: .9;
  background-color: Brown; 
}

h1{
  text-align: center;
  font-size: 2.0em;
  color: blue;
  margin: auto;
}

p{
  font-size: 20.0px; 
}

input{
  padding: 8.00px 10.0px;
  margin: 6.0px;
  width: auto;
  border: 2px;
  border-radius: 6.0px;
  box-sizing: border-box;
}


