body{
  text-align: center;
  font-family: Arial, "Times New Roman", sans-serif;
  margin-top: 14px;
  margin-bottom: auto; 
  background-image: url(../media/ferrarf50.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

label{
  font-size: 20px;
}

form{
  font-family: Arial, "Times New Roman", sans-serif;
  margin: auto;
  width: 25%;
  opacity: .9;
  background-color: Brown; 
}